
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

@media screen and (min-width: 768px) {
  body { 
    display: flex;
    margin: 80px 50px;
  }
  header.profileHeader {
    flex-shrink: 2;
  }
  header div:first-of-type {
    padding-top: 20px;
  }
  main.container{
    padding-left: 125px;
  }
  #tweetForm {
    margin: 0;
  }
  .tweetContext {
    margin: 10px 0;
  }
}

@media (max-width: 420px) {
  body {
    padding:0;
  }
  nav {
    position: static;
    background-color: #0087b8;
    background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .composeTweet {
    margin: 0;
  }
  .composeTweet p {
    font-size: 20px
  }
  .logo {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .profileHeader {
    height: auto;
    padding-bottom: 20px;
  }
  .profileHeader div img {
    width: 50vw;
  }
}

